@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color_principal: #8E793E;
  --color_secundario: #ad974f;
  --color_boton: #12DAFB;
  --background_color_1: #FFFFFF;
  --backgroud_color_2: #231f20;
  --gris: #231f20;
  --blanco: #EAEAEA;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

/*Header*/
.headerHeader {
  display: flex;
  background-color: var(--background_color_1);
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px 1px var(--gris);
}

.logoHeader {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logoHeader img {
  height: 75px;
  width: 75px;
}

.navHeader {
  display: flex;
}

.navHeader a {
  padding: 10px;
  text-decoration: none;
  color: var(--gris);
}

.navHeader a:visited {
  color: var(--gris);
}


.navHeader a:hover {
  color: var(--color_secundario);
}

.active {
  color: var(--color_secundario)!important;
}

.nav-linksHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.register-loginHeader {
  display: flex;
  align-items: center;
}

/*Inicio*/
.mainBodyInicio {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*Informacion*/
.divContainerInformacion {
  display: flex;
  align-items: center;
}

.cajaInformacion {
  margin-left: 40px;
}

.cajaInformacion img {
  width: 250px;
  height: 250px;

}

/*dashboard*/

.dashboardBody {
  display: flex;
  justify-content: space-between;
}

.panelDashboard {
  background-color: var(--background_color_1);
  width: 80%;
  padding: 2rem;
}

.headerDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcomeMessageDashboard {
  display: flex;
  align-items: flex-start;
}

.sessionDashboard a {
  padding-right: 1rem;
}

.panelInfoDashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 0px;
}

.productsOverviewDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bestSellingProductDashboard {
  background-color: var(--color_principal);
  border-radius: 1rem;
  -webkit-box-shadow: 8px 5px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 5px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.timingsProductDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toppingsOverviewDashboard h4 {
  margin-block: 0.1rem;
}

.financialProductDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-block: 1rem;
}

.financialProductDashboard h2,
h3 {
  margin: 0;
}

.reportInfoDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fechaInfoDashBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fechaInfoDashBoard h2 {
  margin: 0
}

.informacionInfoDashboard h4 {
  margin: 0;
}

.summaryBoxDashboard {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroud_color_2);
  -webkit-box-shadow: 8px 5px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 5px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding-inline: 1rem;
  text-align: center;
  color: var(--background_color_1);
}

.fechaBoxDashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.preciosBoxDashboard {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

.precioArribaBoxDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
}

.precioArribaBoxDashboard img {
  padding-inline: 1rem;
}

/* barra lateral */

.barraDashboard {
  background-color: var(--backgroud_color_2);
  width: 20%;
  height: 100vh;
  padding-inline: 2rem;
  color: var(--background_color_1);
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.barraDashboard h1 {
  text-align: center;
}

.barraDashboard h2 {
  text-align: center;
  margin: 0;
}

.documentDashboard {
  padding-top: 1rem;
}

.documentDashboard h3 {
  font-size: 22px;
}

.secondDashboard {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.secondDashboard img {
  padding-right: 1rem;
}

.secondDashboard a {
  text-decoration: none;
  color: var(--background_color_1);
}

/*footer*/
.footerBody {
  background-color: var(--color_principal);
  padding: 80px 0;
}

.containerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: 0 auto;
}

.footer_rowFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_linksFooter {
  width: auto;
  padding: 0 2rem;
}

.footer_linksFooter h4 {
  font-size: 20px;
  color: var(--blanco);
  margin-bottom: 1rem;
  font-weight: 500;
  border-bottom: 2px solid var(--backgroud_color_2);
  padding-bottom: 10px;
  display: inline-block;
}

.linksOrganizerFooter{
  display: flex;
  flex-direction: column;
}

.footer_linksFooter a {
  font-size: 18px;
  text-decoration: none;
  color: var(--blanco);
  margin-bottom: 15px;
}

.footer_linksFooter a:visited {
  color: var(--blanco);
}

.footer_linksFooter a:hover {
  color: var(--gris);
}

.social_linksFooter a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--gris);
  margin-inline-end: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--blanco);
}

.social_linksFooter a:visited {
  color: var(--blanco);
}

.social_linksFooter a:hover {
  color: var(--color_secundario);
}