* {
    margin: 0;
}

header {
    display: flex;
    height: 70px;
    background-color: aqua;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo img {
    height: 75px;
    width: 75px;
}

nav {
    display: flex;
}

div nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

div nav a:visited{
    color: black;
}


div nav a:hover{
    color: blue;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.register-login {
    display: flex;
    align-items: center;
}